/* como o css do javafx nao permite variaveis, aqui esta
a paleta de cores utilizadas na estilizacao:

cor dos textos: rgb(50,50,50);
cor dos textos em hover: rgb(0,0,0);
cor das bordas: rgb(105, 105, 105);
cor do fundo: rgb(255, 255, 255);
cor de fundo em hover: rgb(226, 226, 226);

*/

/* estilo de todos os textos da interface  */
.text {
  -fx-font-family: Minecraft;
  -fx-text-fill: rgb(50,50,50);
}

/* configurções de todos os botões da interface */
.button {
  -fx-background-color: rgb(255, 255, 255);
  -fx-background-radius: 20px;
  -fx-font-size: 30px;
  -fx-border-width: 5px;
  -fx-border-color: rgb(105, 105, 105);
  -fx-border-radius: 20px;
}
.button:hover {
  -fx-background-color: rgb(226, 226, 226);
  -fx-text-fill: rgb(0,0,0);
}

.fundo {
  -fx-background-image: url("img/cenario.png");
}

/* titulo "dino's run" */
.initial--title{
  -fx-font-size: 70px;
}

/* titulo para selecionar a posicao dos dinos */
.selecionar--title{
  -fx-font-size: 30px;
  /* -fx-font-weight: bold;   */
}
/* menu de selecao da posicao dos dinos */
.selecionar--menu {
  -fx-background-color: white;
  -fx-border-width: 2px;
  -fx-border-color: rgb(105, 105, 105);
  -fx-border-radius: 10px;
  -fx-font-size: 15px;
}
/* muda o menu-item quando o mouse esta em cima */
.menu-item:focused {
  -fx-background-color: rgb(226, 226, 226);
}
.menu-item:focused .label{
  -fx-text-fill:black;
}
/* edita o fundo do menu dos dinos */
.context-menu {
  -fx-border-color: rgb(105, 105, 105);
}

/* texto "controles de velocidade" */
.velocidade--text {
  -fx-font-size: 20px;
}
/* controle de velocidade 
  track - linha pelo qual desliza o controle*/
.slider .track{
  -fx-background-color:  rgb(255, 255, 255);
  -fx-border-color: rgb(105, 105, 105);
  -fx-border-radius: 20px;
  
}
/* thumb - bolinha que movimenta a velocidade */
.slider .thumb {
  -fx-border-color: rgb(105, 105, 105);
  -fx-background-color: rgb(255, 255, 255);
  -fx-border-radius: 30px;
}
.slider .thumb:hover{
  -fx-background-color: rgb(226, 226, 226);
}
/* botao de reset do movimento */
.velocidade--button {
  -fx-font-size: 20px;
  -fx-border-width: 2px;
  -fx-border-radius: 10px;
}